Package: (name)
Version: (version)
Architecture: (architecture)
Maintainer: Edouard Berteloot <edouard.berteloot@gmail.com>
Description: A service turning on a nodejs express listening to calls to call the Fastly Real Time Api (key and service id required) and transform the real-time data into a Prometheus format (counters and histograms). More description at https://github.com/edouardbe/fastly-real-time-api-to-prometheus
Depends: gawk (>= 4.1.4), nodejs , npm, jq (>=1.5)
